:root {
  --red: #E53935;
  --grey: #EEEEEE;
  --dark-grey: #666666;
  --purple: #7E57C2;
  --green: #009688;
  --black: #000000;
  --white: #FFFFFF;
}

img {
  width: 100%;
}

a li {
  color: var(--black);
}

a {
  text-decoration: none !important;
}

.list-group-item.delete:hover,
.list-group-item.update:hover,
.list-group-item.board:hover {
  cursor: pointer;
  background-color: var(--grey);
  
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.md-icon {
  vertical-align: middle;
  margin-bottom: 5px;
  font-weight: bold;
}

.md-icon-delete, 
.md-icon-update, 
.md-icon-board, 
.md-icon-calender {
  font-size: 1.3rem;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 5px;
  color: var(--dark-grey);
}

.md-icon-board {
  color: var(--purple);
}

.md-icon-update {
  color: var(--green);
  font-weight: bold;
}

.md-icon-delete {
  color: var(--red);
}

.tag {
  color: var(--green);
  font-weight: bold;
}
